name: Build NuGet Package

on:
  push:
    branches: [ master, alpha-development, v0.6.0-rewrite ]
  pull_request:
    branches: [ master, alpha-development, v0.6.0-rewrite ]
  workflow_dispatch:

jobs:
  build_nuget_package:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v3.2.0
        with:
          dotnet-version: 7.0.x
      - name: .NET Pack
        run: dotnet pack -c Release
        working-directory: ./MelonLoader/
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: MelonLoaderNuGetPackage
          path: MelonLoader/Output/Release/MelonLoader/LavaGang.MelonLoader.0.6.3.nupkg